*
{
    margin: 0px;
    padding: 0px;
}
.navigation_image img
{
    margin-top: 20px;

}
.navigationbar
{
    height: 100px;
    background-color: white;
    
}
.navigationbarul ul
{
    margin-top: 20px;
}
.navigationbarul ul li a:hover
{
    background-color: white;
}
.navigationbarul ul li a
{
    font-family: 'Dosis';
    font-size: 15px;
}

.carosualdiv1
{
    margin-top: 100px;
}
.carosual_content_div #heading
{
    font-size: 70px;
    font-family: 'Dosis';
}
.carosual_content_div #para
{
    font-size: 30px;
    font-family: 'Dosis';
}

/* ====================================================== */

/* Start Home Div  */
.home_div1
{
    height: 660px;
    background-color: #f9f9f9;
}
.home_div2 #home_para_1 
{
    margin-top: 180px;
    text-transform: uppercase;
    color: #f56eab;
    font-size: 20px;
}
.home_div2 h1
{
    text-transform: uppercase;
    font-weight: bold;
    font-family: Dosis;
    font-size: 40px;
}
@font-face
{
    font-family: Dosis;
    src: url('../Fonts/TerminalDosis-Bold.ttf');
}
.home_div2 button
{
    border-radius: 0px;
    border: none;
}
.home_div2 button:hover
{
    background-color: black;
    border: none;
}
.home_div3
{
    margin-top: 30px;
}
.home_div4
{
    margin-top: 180px;
    
}
/* End Home Div  */
/* ================================================================ */


/* Start Services CSS */

.serices_div1 h1
{
    margin-top: 5%;
    
}

.services_div2
{
    height: 200px;
    /* background-color: lightgreen; */
}
.services_div3 h1
{
    font-family: 'Dosis';
}

.services_icon_div_1 img
{
    border: 3px solid #f56eab;
    border-radius: 50%;
}
.services_icon_div_2 img
{
    border: 3px solid #7cc576;
    border-radius: 50%;
}
.services_icon_div_3 img
{
    border: 3px solid #49b5e7;
    border-radius: 50%;
}
.service_image_div_1 img
{
    
    clear: both;
}
.service_image_div_1 i
{
    position: relative;
    top: -79px;
    color: white;
}
.service_image_div_2 i
{
    position: relative;
    top: -79px;
    color: white;
}
.service_image_div_3 i
{
    position: relative;
    top: -74px;
    color: white;
}
.services_icon_div_1 h3
{
    font-size: 16px;
    font-family: 'Dosis';
    margin-top: 0px;
}
.services_icon_div_2 h3
{
    font-size: 16px;
    font-family: 'Dosis';
    margin-top: 0px;
}
.services_icon_div_3 h3
{
    font-size: 16px;
    font-family: 'Dosis';
    margin-top: 0px;
}
/* End Services CSS */
/* ===== ==================================================================*/

/* START LATEST WORK CSS */
.Latest_Work_Div
{
    height: 550px;
    background-color: #f9f9f9;
}

.Latest_Work_Div
{
    margin-top: 40px;
}
.services_image_div
{
    margin-top: 40px;
}


.latest_work_div_1
{
    margin-top: 40px;
    
}
.latest_work_icon_1 i
{
    margin-top: 10px;
}
.latest_work_content_div_1 h4
{
    font-size: 15px;
    font-family: 'Dosis',sans-serif;
}
.latest_work_content_div_1 p
{
    font-size: 13px;
}
.latest_work_icon_2 i
{
    margin-top: 10px;
}
.latest_work_content_div_2 h4
{
    font-size: 15px;
    font-family: 'Dosis',sans-serif;
}
.latest_work_bottom_div
{
    margin-top: 30px;
}
.latest_work_bottom_div p
{
    font-size: 20px;
}
.latest_work_bottom_div button
{
    padding:10px 40px;
}
.latest_work_bottom_div button:hover
{
    background-color: black;
}

/* END LATEST WORK CSS */
/* ======================================================== */

/* START PORTFOLIO DIV */
.portfolio_div
{
    height: 600px;
}
.portfolio_div h1
{
    margin-top: 50px;
    font-family: 'Dosis';
}
.portfolio_button
{
    margin-top: 50px;
}
.portfolio_button button
{
    font-family: 'Dosis';
    font-size: 18px;
}
.portfolio_gallery
{
    margin-top: 50px;
}
.portfolio_div_1
{
    padding: 0px;
}
.portfolio_div_2
{
    padding: 0px;
}
.portfolio_div_3
{
    padding: 0px;
}
.portfolio_div_4,.portfolio_div_5,.portfolio_div_6,.portfolio_div_7,.portfolio_div_8
{
    padding: 0px;
}
/* END PORTFOLIO DIV */
/* =================================================================== */

/*START HOVER EFFECT */
.container_div {
    position: relative;
    /* width: 50%; */
  }
  
.container_div img{
    display: block;
    width: 100%;
    height: auto;
  }
  
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}
  
.container_div:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
.text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
/*END HOVER EFFECT */
/* ================================================================== */

/* START HAPPY CLIENTS */
.happy_client_row
{
    margin-top: 140px;
    height: 100%;
    /* background-color: lightcoral; */
    
    /* border: 1px solid red; */
}
.happy_client_heading
{
    margin-top: 100px;
}
.happy_client_heading h1
{
    font-family: 'Dosis';
    font-size: 40px;
    
}
.happy_clinet_content_div
{
    height:100%;
    margin-top: 50px;
    background-color: #f5f5f5;

}
.happy_clinet_content_div p
{
    font-size: 20px;
    text-align: center;
    margin-left: 30px;
    color: #888888;
}
.happy_clinet_content_div #img1
{
    position: absolute;
    top: 58px;
}
.happy_clinet_content_div #img2
{
    position: absolute;
    right: 300px;
    top: 130px;
}

.happy_client_1
{
    font-family: 'Dosis';
    color: #49b5e7;
}
.happy_client_1 p
{
    color: #888888;
}

/* END HAPPY CLIENTS */
/* ============================================================ */

/* START IMAGE DIV CSS */
.image_full_div 
{
    height: 200px;
    background-size: 100% 100%;
    background-image: url('../Images/poligan_bg.jpg');
}
.image_div_1 img
{
    height: 50px;
    width: 130px;
    margin-top: 70px;
}
/* END IMAGE DIV CSS */
/* ==================================================================== */

/* START AMAZING TEAM DIV */
.amazing_team_div
{
    font-family: 'Dosis';
    font-size: 50px;
    margin-top: 70px;
    height: 150px;
}
.amazing_team_div p
{
    font-size: 20px;
    color: #888888;
}
.amazing_img1 img
{
    border-radius: 50%;
    position: relative;
}
.amazing_img2 img
{
    border-radius: 50%;
}
.amazing_img3 img
{
    border-radius: 50%;
}
.amazing_img1 h4,.amazing_img2 h4,.amazing_img3 h4
{
    font-family: 'Dosis';
    
}
.amazing_img1 p,.amazing_img2 p,.amazing_img3 p
{
    color: #888888;
}
.amazing_img1 img:hover 
{
    background-color:cmyk(0%, 24%, 24%, 93%);
    opacity: 0.5;
    transition: all 3s ease-out; 
}
.amazing_hover
{
    opacity: 0;
    transition: all 3s ease-out;
}
.amazing_hover:hover
{
    opacity: 1;
    transition: all 3s ease-out;
}
.amazing_hover ul
{
    position: absolute;
    top: -58px;
    left: 0px;
}   
.amazing_hover ul li
{
    list-style: none;
    margin-left: 10px;
    display: inline-block;
    font-size: 14px;
}

.amazing_img2 img:hover 
{
    background-color: lightgreen;
    opacity: 0.5;
    transition: all 2s ease-out;
    background: radial-gradient(red, green, blue);
    background: -webkit-radial-gradient(red, green, blue);
}
.amazing_img3 img:hover
{
    background-color: lightgreen;
    opacity: 0.5;
    background: radial-gradient(red, green, blue);
    background: -webkit-radial-gradient(red, green, blue);
}

/* END AMAZING TEAM DIV */
/* =============================================================== */

/* START AMAZING TEAM HOVER EFFECT */
.container_div_11 {
    position: relative;
    /* width: 50%; */
}

.img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.amazing_hover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container_div_11:hover .img {
  opacity: 0.3;
}

.container_div_11:hover .amazing_hover {
  opacity: 1;
}

.text {
  /* background-color: #4CAF50; */
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/* END AMAZING TEAM HOVER EFFECT */

/* START FULL HOVER DIV  */
.full_hover_div
{
    margin-top: 100px;
    background-color: #00b8ff;
    height: 100%;
}
.full_hover_div i
{
    margin-top: 50px;
    color: white;
}
.full_hover_div_1 p
{
    margin-top: 50px;
    width: 50%;
    margin: 0px auto;
    font-size: 16px;
    font-family: 'Dosis';
}

.full_hover_div_1 #full_para_id
{
    margin-top: 30px;
    color: white;
}
.full_hover_div:hover
{
    background-color: #f56eab;
    transition: all 1s ease-in-out;
    -webkit-transition : all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

/* START FULL HOVER DIV */
/* ====================================================================== */

/* START CONTACT US DIV CSS */
.contact_us_div_1
{
    /* background-color: black; */
    background: url('../Images/pattern_bg.jpg');
    height: 100%;
}
.contact_us_div_2 h1
{
    margin-top: 50px;
    height: 100px;
    font-family: 'Dosis';
    font-size: 50px;
    color: white;
}
.contact_us_div_3 
{
    position: relative;
}
.contact_us_div_3 img
{
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
}
.contact_us_div_4 img
{
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
}
.contact_us_div_5 img
{
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
}
.contact_us_div_3 i
{
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    position: relative;
    top: -66px;
    left: 158px;
    z-index: 20;
}
.contact_us_div_4 i {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    position: relative;
    top: -66px;
    left: 158px;
    z-index: 20;
}
.contact_us_div_5 i {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    position: relative;
    top: -66px;
    left: 158px;
    z-index: 20;
}
.contact_footer_content_div h3
{
    color: white;
    font-family: 'Dosis';
}
.contact_footer_content_div #contact_para_id_1
{
    color: white;
    font-family: 'Dosis';
    margin-top: 60px;
    font-size: 20px;
}
.contact_footer_content_div #contact_para_id_2
{
    color: white;
    font-family: 'Dosis';
    margin-top: 60px;
    font-size: 20px;
}
.form_contact_div
{
    margin-top: 30px;
}
.form_contact_div button
{
    font-family: 'Dosis';
}
.contact_ul_div
{
    margin-top: 50px;
}
.contact_ul_div ul li
{
    list-style: none;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: 3px solid white;
    display: inline-block;
    margin-left: 10px;
}
.contact_ul_div ul li a
{
    font-size: 25px;
    margin-left: 8px;
    margin-top: 30px;
    text-align: center;
}
.contact_ul_div ul li a i
{
    
    margin-left: 7px;
    margin-top: 12px;
}
.contact_ul_div ul #hover_1:hover
{
    background-color: #428bca;
}
.contact_ul_div ul #hover_2:hover
{
    background-color: blue;
}
.contact_ul_div ul #hover_3:hover
{
    background-color: red;
}
.contact_ul_div ul #hover_4:hover
{
    background-color: red;
}
.contact_ul_div ul #hover_5:hover
{
    background-color: #ea4c89;
}
.contact_harizontal_line
{
    margin-top: 100px;
}
.contact_footer_div_text
{
    margin-top: 100px;
}
.contact_footer_div_text #footer_Para_div
{
    margin-top: 100px;
    color: white;
    font-family: 'Dosis';
}
.contact_footer_div_text #footer_Para_div_1
{
   
    color: white;
    font-family: 'Dosis';
}
.contact_ul_div ul li a i
{
    margin-left: -7px;
    margin-top: 12px;
}
/* END CONTACT US DIV CSS */

/* ========================================= */
/*Responsive*/
/*large*/
@media (min-width:992px) and (max-width:1199px)
{
    /* START PORTFOLIO CSS */
    .portfolio_heading_div
    {
        margin-top: 100px;
    }
    .portfolio_button
    {
        margin: 0px auto;
        width: 100%;
        padding-left: 180px;
    }
    /* END PORTFOLIO CSS */
    /* ========================================================= */

    /* Start Contact css */
    .contact_us_div_3 i {
        color: #fff;
        font-size: 36px;
        margin-top: 0;
        position: relative;
        top: -66px;
        left: 127px;
        z-index: 20;
    }
    .contact_us_div_4 i {
        color: #fff;
        font-size: 36px;
        margin-top: 0;
        position: relative;
        top: -66px;
        left: 129px;
        z-index: 20;
    }
    .contact_us_div_5 i {
        color: #fff;
        font-size: 36px;
        margin-top: 0;
        position: relative;
        top: -66px;
        left: 131px;
        z-index: 20;
    }
    .contact_us_div_1
    {
       
        background: url('../Images/pattern_bg.jpg');
        height: 210%;
        
    }
    /* End Contact css */
/* =========================================== */
/* START IMAGES FOUR CSS */
.image_full_div 
{
    margin-top: 430px;
}
/* END IMAGES FOUR CSS */
}

/*small*/
@media (min-width:768px) and (max-width:991px)
{
    .navigation_image img
    {
        position: absolute;
        margin-left:90px;
        left: 250px;
    }
    .navigationbarul ul
    {
        margin-top: 60px;
        text-align: center;
        margin-left: 0px;
        width:100%;
    }
/* ====================================================== */
/* Start  IMAGES DIV*/
.image_div_1 img
{
   margin-top: 0px;
}
/* END  IMAGES DIV*/

/*===========================================================*/
/* Start services css */
    .services_div2
    {
        height: 10%;
    }
/* End services css */
/* ========================================= */

/* START PORTFOLIO CSS */
    .portfolio_div_1 img
    {
        width: 100%;
    }
    .portfolio_div_2 img
    {
        width: 100%;
    }
    .portfolio_div_3 img
    {
        width: 100%;
    }
    .portfolio_div_4 img
    {
        width: 100%;
    }
    .portfolio_div_5 img
    {
        width: 100%;
    }
    .portfolio_div_6 img
    {
        width: 100%;
    }
    .portfolio_div_7 img
    {
        width: 100%;
    }
    .portfolio_div_8 img
    {
        width: 100%;
    }
/* END PORTFOLIO CSS */


/* Start Contact us css */
.contact_us_div_3 i {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    position: relative;
    top: -66px;
    left: 330px;
    z-index: 20;
}
.contact_us_div_4 i {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    position: relative;
    top: -66px;
    left: 334px;
    z-index: 20;
}
.contact_us_div_5 i {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    position: relative;
    top: -66px;
    left: 330px;
    z-index: 20;
}
/* End Contact us css */
}
/*mobile*/
@media (min-width:480px) and (max-width:767px)
{
    .carosual_content_div #heading
    {
        font-size: 35px;
    }
    .carosual_content_div #para
    {
        font-size: 16px;
    }
    .icons_bars123
    {
        background-color: black;
    }
    .navigationbar button
    {
         position: absolute;
         top: 50px;
         left: 250px;
    }
    .navigation_image img
    {
        position: absolute;
        margin-left:90px;
        left: 130px;
    }
    .navigationbarul ul
    {
        margin-top: 40px;
        text-align: center;
        margin-left: 0px;
        width:100%;
    }
    .navigationbarul ul li
    {
        background-color: greenyellow;
        
    }
    .navigationbarul ul li a
    {
        font-size: 15px;
        color: red;
    }
/*==================================================  */
    /* Start Services div css */
    .services_div2
    {
        height: 10%;
    }
    /* End Services div css */
/* ============================================================ */
/* Start  IMAGES DIV*/
.image_div_1 img
{
   margin-top: 0px;
}
/* END  IMAGES DIV*/

}
/*portrait*/
@media(max-width:479px)
{
    .item img
    {
        height: 50vh;
    }
    .carosual_content_div #heading
    {
        font-size: 35px;
    }
    .carosual_content_div #para
    {
        font-size: 16px;
    }
    .icons_bars123
    {
        background-color: black;
    }
    .navigationbar
    {
        margin-top: 0px;
    }
    .navigationbar button
    {
         position: absolute;
         top: 50px;
         left: 130px;
    }
    .navigation_image img
    {
        margin-left:90px;
    }
    .navigationbarul ul
    {
        margin-top: 40px;
        margin-left: 0px;
        text-align: center;
        width: 100%;
    }
    .navigationbarul ul li
    {
        background-color: greenyellow;
    }
    .navigationbarul ul li a
    {
        font-size: 15px;
        color: red;
    }
/* End */
/* Start  */
.home_div1 {
    height: 100%;
    background-color: #f9f9f9;
}
/* End */
/* =============================================================== */

    /* Start Service div */
    .services_div2
    {
        height: 10%;
    }
    /* End Service div */
/* ============================================================ */

    /* START IMAGES DIV CSS */
    .image_full_div 
    {
        height:450px;
        background-size: 100% 100%;
        background-image: url('../Images/poligan_bg.jpg');
    }
    .image_full_div ul li
    {
        line-height: 60px;
        margin-left: 0px;
    }
    .image_div_1 img
    {
       margin-top: 45px;
    }

    /* END IMAGES DIV CSS */
/* =================================================================== */
/* Start Contact us css */
.contact_us_div_3 i {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    position: relative;
    top: -66px;
    left: 82px;
    z-index: 20;
}
.contact_us_div_4 i {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    position: relative;
    top: -66px;
    left: 86px;
    z-index: 20;
}
.contact_us_div_5 i {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    position: relative;
    top: -66px;
    left: 86px;
    z-index: 20;
}

/* End Contact us css */

}
/* =============================================================== */